<main id="shop">

    <h2>SHOP PAGE</h2>
    <% for(const product of products) {%>
    
        <article>
            <h3><%= product.title %></h3>
            <img src="/img/<%= product.photo %>" alt="">
            <a href="/shop/product/<%= product.id %>">see product</a>
            
        </article>
    
    <% } %>
</main>